<div class="article-wrapper" (click)="navigate()">
  <div class="article-title">
    <h5>{{article.title}}</h5>
    <small class="h6 text-muted lead">{{article.desc}}</small>
  </div>
  <div class="article-footer">
    <small class="h6 text-muted lead">by: <a (click)="visitUser()">@{{article.owner.username ? article.owner.username : 'unknown'}}</a></small>
  </div>
</div>

