.article-wrapper{
    -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border: 1px solid lightgrey;
    padding: 7px;
    margin-bottom: 20px;
    cursor: pointer;

    .article-title{
        h5{
            margin-bottom: 2px;
        }

        small{
            font-size: small;
        }
    }

    .article-footer{
        border-top: 1px dashed lightgrey;
        margin-top: 4px;
        a{
            &:hover{
                text-decoration: underline;
            }
        }
    }
    
}