<nav class="navbar navbar-dark navbar-expand-lg bg-dark container-fluid fixed-top">
  <div class="container">
      <div>
          <img class="mr-1 mb-1" src="./assets/img/cloud.png" style="height:25px; width:34px" />
          <a href="#home" class="navbar-brand">ngCloud</a>
      </div>

      <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="/files" routerlink="/files" class="nav-item nav-link">Files</a>
          </div>
          <div class="navbar-nav ml-auto">
              <a href="/account" routerlink="/account" class="nav-item nav-link text-grey"><i class="fas fa-user"></i> Lovro</a>
              <a href="/register" routerlink="/register" class="nav-item nav-link">Register</a>
              <a href="/login" routerlink="/login" class="nav-item nav-link">Login</a>
              <a href="#explore-head-section" class="nav-item nav-link">Logout</a>
          </div>
      </div>

  </div>
</nav>
