html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
    height: 100%;
    position: relative;
}

.main-container{
    font-family: Helvetica, Arial, sans-serif;
    min-width: 980px;
    height: 100%;
    align-content: center;
    margin: auto;
    position: relative;
}

.inventura{
    color: #b8bbbf;
    float: left;
    height: 100%;
    background: #333b46;
    width: 15%;
}

.inventura a{
    color: #b8bbbf;
    font-weight: 520;
    font-size: 15px;
    text-decoration: none;
}

.inventura li{
    border-bottom: 1px solid  black ;
    padding: 20px 10px 14px 30px;
}

.inventura li:hover{
    background: #444e5c;
}

.inventura hr{
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    border: 2px solid black;

}

.ikona{
    height:15px;
    margin-right: 12px;
}

.ikona2{
    height: 20px;
    margin: 12px 12px 0px 27px;
    display: inline;
    box-sizing: border-box;
}

.vrhnav{
    display: inline;
    position: relative;
}

.vrhnav h1{
    font-size: 20px;
    font-weight: 400;
    display: inline;
    position: relative;

}

.godina-nav{
    color: white;
    float: left;
    height: 100%;
    background: #447cac;
    width: 15%;
}

.godina-nav a{
    color: white;
    font-weight: 520;
    font-size: 15px;
    text-decoration: none;
}

.godina-nav li{
    border-bottom: 1px solid  #3a72a5 ;
    padding: 20px 10px 14px 30px;
}

.godina-nav li:hover{
    background: #444e5c;
}

.godina-nav hr{
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    border: 2px solid #3a72a5;

}

.godina-vrhnav{
    position: relative;
}

.godina-nav small{
    font-size: 10px;
    color: #7cb4cc;
}

.godina-vrhnav h1{
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    padding: 15px 0px 0px 20px;
}

.poredaj{
    text-align: right;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #3a72a5;
}

.content{
    width: 69%;
    float: left;
}

.content h1{
    display: inline-block;
    margin: 30px 15px;
    font-size: 28px;
    color: #666666;
}

.spremi{
    background-color: #f04848;
    border: none;
    color: white;
    padding: 10px;
    padding-right: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    font-size: 16px;
    margin: 30px 20px;
    border-radius: 5px;
}

.gornje{
    margin: 18px;
    background: #f2f2f2;
    table-layout: auto; 
    width: 97%;
}

.gornje th, td {
    padding: 10px;
    text-align: left;
}

.gornje th {
    border-top: 1px solid #b8bbbf;
    font-size: 10px;
    color: #b8bbbf;
}

.gornje td{
    font-size: 14px;
}

.donje{
    margin: 18px;
    table-layout: auto; 
    width: 97%;
}

.donje th, td {
    border-bottom: 1px solid #b8bbbf;
    padding: 15px;
    text-align: left;
}

.donje th {
    font-size: 15px;
    color: #b8bbbf;
}

.donje td{
    font-size: 14px;
}







