<div class="p-2">
  <br/><br/><br/>
  <h1 class="display-4">Files</h1>
  <h1 class="lead text-grey">Upload & download your files</h1>

  <button class="btn btn-primary my-3">New File</button>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Added</th>
        <th scope="col">Size</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
          <td><img class="user-image" [src]=" file.name | getIcon" style="width: 27px"></td>
          <td>{{ file.name }}</td>
          <td>{{ file.added }}</td>
          <td>{{ file.size }} MB</td>
          <td>
            <button class="btn btn-primary pr-3 text-white"><i class="fas fa-download" style="width: 10px"></i></button>
            <button class="btn btn-danger pr-3 text-white ml-2"><i class="fas fa-times" style="width: 10px"></i></button>
          </td>
      </tr> 
    </tbody>
  </table>
</div>