#account-grid{
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas: 
    "header"
    "actions"
    "articles";

    @media only screen and (min-width: 768px) {
        grid-template-columns: minmax(auto, 350px) auto;
        grid-template-rows: minmax(100px, max-content) auto;

        grid-template-areas: 
        "header articles"
        "actions articles";
    }
}

#articles{
    grid-area: articles;

    @media only screen and (max-width: 767px) {
        margin-top: 35px;
    }
}

#header{
    grid-area: header;

    form{
        input{
            border-radius: none;
        }
        textarea{
            resize: none;
            border-radius: none;
        }
    }
}

#actions{
    grid-area: actions;

    .buttons{
        display: flex;
        @media only screen and (min-width: 768px) {
            flex-direction: column;
        }
    }
}