<div id="account-grid">
  <div id="header" class="row pb-3">
    <div class="col col-auto">
      <img src="{{user.gravatarURL}}" alt="user avatar" width="100px">
    </div>
    <form [formGroup]="userForm" class="col col-md-auto" *ngIf="editing; else notEditing" style="display: flex; flex-direction:column">
      <input id="usernameForm" type="text" formControlName="username" placeholder="username">
      <textarea id="descForm" type="text" formControlName="desc" placeholder="Description" rows="3" ></textarea>
    </form>
    <ng-template #notEditing>
      <div class="col col-md-auto">
        <h3 class="font-weight-bold">{{ user.username ? user.username : 'unknown' }}</h3>
        <p class="font-italic">
          {{user?.desc}}
        </p>
      </div>
    </ng-template>
  </div>

  <div id="actions">
    <div>
      <h6>followers: {{ user.followers?.number ? user.followers?.number : 0}}</h6>
    </div>
    <div class="buttons">
      <button *ngIf="!myAccount && !user.followBool" type="button" class="btn btn-outline-success mb-1 mr-1" style="width: 100px" (click)="followUser()">Follow</button>
      <button *ngIf="!myAccount && user.followBool" type="button" class="btn btn-outline-danger mb-1 mr-1" style="width: 100px" (click)="unfollowUser()">Unfollow</button>
      <!--<button type="button" class="btn btn-outline-info mb-1 mr-1" style="width: 100px">Report</button>-->
      <button *ngIf="myAccount" (click)="createArticle()" type="button" class="btn btn-outline-info mb-1 mr-1" style="width: 100px">Create</button>
      <button *ngIf="myAccount && !editing" (click)="editUser()" type="button" class="btn btn-outline-warning mb-1 mr-1" style="width: 100px">Edit</button>
      <button *ngIf="myAccount && editing" (click)="editUser()" type="button" class="btn btn-outline-success mb-1 mr-1" style="width: 100px">Save</button>
    </div>
  </div>
  
  <div id="articles">
    <h4 class="display-6">Articles by {{ user.username ? user.username : 'unknown' }}</h4>
  
    <app-article-card *ngFor="let article of articles" [article]="article"></app-article-card>
  
    <div class="btn-group" role="group" aria-label="First group">
      <button type="button" class="btn btn-outline-primary" (click)="prevPage()" [ngClass]="{'disabled' : currPage==1}">Previous</button>
      <button type="button" class="btn btn-outline-primary" (click)="nextPage()" [ngClass]="{'disabled' : !(articles.length > 10)}">Next</button>
    </div>
  </div>
</div>