<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/cloud.png" width="40"  alt="logo">
    ngCloud
  </a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" [routerLink]="['files']">Files</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" [routerLink]="['account']">
            <!--<i class="fa fa-user"></i>-->
            <img src="{{user.gravatarURL}}" alt="user avatar" width="20px">
            {{ user.username }}
          </a>
        </li>

        <li class="nav-item" *ngIf="!user">
            <a class="nav-link" [routerLink]="['register']">
              Register
            </a>
        </li>

        <li class="nav-item"  *ngIf="!user">
            <a class="nav-link" [routerLink]="['login']">
              Login
            </a>
        </li>

        <li class="nav-item" *ngIf="user" (click)="userService.logout()">
          <a class="nav-link" style="cursor: pointer">Logout</a>
        </li>                
      </ul>    
  </div>
</nav>