textarea{
    height: auto;
    border: 0 ;
    padding: 0;
    font-size: 25px;
    width: 100%;
    resize: none;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 25px;
    text-align: center;

    &:focus{
        outline: none;
        outline-style: none;
        border: 0;
        background-color: #fff;
    }
}