<h4 class="display-4">Files</h4>
<p class="lead">Upload & download your files</p>

<div class="row pb-3">
  <div class="col">
      <button class="btn btn-primary btn-lg" (click)="openModal()">New file</button>
  </div>
</div>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col" (click)="sortToggle('name')"><i class="fa fa-arrow-up mr-1" *ngIf="sorting == 'name' && !descending"></i><i class="fa fa-arrow-down mr-1" *ngIf="sorting == 'name' && descending"></i>Name</th>
      <th scope="col" (click)="sortToggle('added')"><i class="fa fa-arrow-up mr-1" *ngIf="sorting == 'added' && !descending"></i><i class="fa fa-arrow-down mr-1" *ngIf="sorting == 'added' && descending"></i>Added</th>
      <th scope="col" (click)="sortToggle('size')"><i class="fa fa-arrow-up mr-1" *ngIf="sorting == 'size' && !descending"></i><i class="fa fa-arrow-down mr-1" *ngIf="sorting == 'size' && descending"></i>Size</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of files">
      <th scope="row">
        <img src="{{file | imagePath}}" alt="file extension logo" width="30">
      </th>
      <td>{{ file.filename }}</td>
      <td>{{ file.uploadDate | date : 'short' }}</td>
      <td>{{ file.length  / 1024 / 1024 | number }} MB</td>
      <td>
        <a href="{{'http://localhost:3000' + fileService.fileUrl + '/' + file._id}}"
           class="btn btn-primary btn-sm mr-2"
           target="_blank"
           download="{{file.filename}}">
           <i class="fa fa-download"></i>
        </a>
        <button class="btn btn-danger btn-sm" (click)="delete(file)">
          <i class="fa fa-remove"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="btn-group" role="group" aria-label="First group">
  <button type="button" class="btn btn-outline-primary" (click)="fileService.prevPage()" [ngClass]="{'disabled' : fileService.currPage.value==1}">Previous</button>
  <button *ngFor="let i of fileService.listPages()" (click)="fileService.goToPage(i)" [ngClass]="{'active' : fileService.currPage.value == i}" type="button" class="btn btn-outline-primary">{{i}}</button>
  <button type="button" class="btn btn-outline-primary" (click)="fileService.nextPage()" [ngClass]="{'disabled' : fileService.currPage.value==fileService.pages.value}">Next</button>
</div>
