html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background: lightgrey;
    height: 100%;
}

.Prijava{
	background: white;
    margin: 130px auto;
    width: 25%;
	padding: 10px;
	border-radius: 7px;
	font-family: Arial;
    text-align: center;
    min-width: 300px;
}

.Prijava h1{
	font-size: 27px;
	font-weight: 50;
}

.Prijava input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Prijava input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Prijava input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.Prijava input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Content{
    position: relative;
    background: white;
    margin: 70px auto;
    width: 800px;
    height: auto;
	border-radius: 7px;
	font-family: Arial;
    text-align: center;
    padding-bottom: 30px;
    overflow: auto; 
}

#Cover-Img{
    margin-top:0px;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    max-height: 450px;
}

#Profile{
    position: absolute;
    top:370px;
    left: 315px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 20%;
    height: 20%;
}

#Profile-Img{
    width: 100%;
    z-index: 1;
    left: 0;
    border-radius: 4px;
}

#ChangeProfile{
    width: 26px;
    height: 26px;
    position: absolute;
    top:10px;
    right: 10px;
    border-radius: 4px; 
}

#ProfileFile{
    display: none;
}

#ChangeProfile img{
    width: 27px;
    z-index: 2;
}

.ChangeCover{
    width: 26px;
    height: 26px;
    position: absolute;
    top:20px;
    right: 22px;
    border-radius: 4px; 
}

#CoverFile{
    display: none;
}

.ChangeCover img{
    width: 27px;
}

.NewMessage{
    margin: 40px auto;
    width: 70%;
    min-height: 200px;
}

#MessageForm input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0px;
    float: left;
}

#SendMessage[disabled]:hover {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: no-drop;
    margin-left: 0px;
    float: left;
}

#MessageForm input[type=textarea] {
    border-radius: 4px;
}

#MessageForm small{
    font-size: 10px;
    color: grey;
    float: right;
    margin-right: 0px;
    margin-top: 7px;
}

.DisplayMessages{
    overflow: auto; 
    text-align: left;
    margin: 0px auto;
    width: 70%;
    font-size: 12px;
    color: rgb(20, 20, 20);
    font-family: 'Times New Roman', Times, serif;
}

.DisplayMessages ul li{
	float: left;
	width: 100%;
	line-height: 20px;
	list-style: none;
    display: block;
    padding: 12px 0px;
	border-bottom: 1px solid lightgrey;
}

.DisplayMessages ul li{
	width: 100%;
	border-bottom: 1px solid lightgrey;
}

.DisplayMessages p{
	width: 100%;
}

#back{
    text-align: left;
    margin: 10px 0px 10px 120px;
}






