<div class="form-box">
  <span style="height: 100%"><i class="fa fa-quote-right"></i></span>
  <textarea [formControl]="form" (focus)="emitFocus()" (keyup)="emitValue($event)" oninput="this.style.height = ''; this.style.height = this.scrollHeight +'px'" id="quoteForm" type="text" placeholder="Enter the quote" rows="1"></textarea>
  <button class="hover-button" (click)="delete(id)"></button>
</div>
