textarea{
    height: auto;
    border: 0 ;
    border-left: 2px solid black;
    padding: 0;
    padding-left: 5px;
    margin-left: 6px;
    font-size: 18px;
    width: 100%;
    resize: none;
    overflow-y: hidden;

    &:focus{
        outline: none;
        outline-style: none;
        border: 0;
        border-left: 2px solid black;
        background-color: #fff;
    }
}