// if you'd like to use it without importing all of bootstrap it requires 
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

// regular style toast 
@import '~ngx-toastr/toastr';
 
// bootstrap style toast 
// or import a bootstrap 4 alert styled design (SASS ONLY) 
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions 
@import '~ngx-toastr/toastr-bs4-alert';

.form-box{
    position: relative;
    margin-bottom: 20px;
    display: flex;

    &--title{
        margin: 40px 0 20px;
    }

    &--subtitle{
        margin: 30px 0 20px;
    }

    .hover-button{
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 50%;
        height: 5px;
        width: 5px;
        background-color: red;
        padding:6px;
        border: 0;
        outline: none;
        cursor: pointer;
    }

    &:not(:hover){
        .hover-button{
            display: none;
        }
    }

}


 
