<div class="form-box">
  <i class="fa fa-link" style="padding-top: 7px"></i>
  <input [formControl]="form" (focus)="emitFocus()" (keyup)="emitValue($event)" id="linkForm" type="text" placeholder="Enter the link">
  <button class="hover-button" (click)="delete(id)"></button>
</div>