input{
    border: 0 ;
    margin-left: 6px;
    font-size: 18px;
    width: 100%;
    color: blue;

    &:focus{
        outline: none;
        outline-style: none;
        border: 0 !important;
        background-color: #fff;
    }

    &:hover{
        text-decoration: underline;
    }
}