.article-edit{
    max-width: 700px;  
    position: relative;
    
    .save-hover{
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }

    &:not(:hover){
        .save-hover{
            display: none;
        }
    }

}

#titleForm{
    height: 62px;
    font-size: 42px;
    border: 0 ;
    resize: none;
    overflow: hidden;

    &:focus{
        outline: none;
        outline-style: none;
        border: 0 !important;
        background-color: #fff;
    }
}

#descForm{
    font-size: 18px;
    margin-top: 10px;
    border: none;
    resize: none;
    overflow: hidden;

    &:focus{
        outline: none;
        outline-style: none;
        border: 0;
        background-color: #fff;
    }
}

.black-link{
    padding: 0 10px;
    text-transform: uppercase;
    padding-top: 3px;

    &:hover{
        text-decoration: underline overline !important;
        cursor: pointer;
    }
}

h4{
    padding-right: 10px;
}