<div style="display: flex; justify-content:center;">
  <div class="article-edit">
    <form [formGroup]="titleForm" style="display: flex; flex-direction: column; border-bottom: 1px solid black; margin-bottom: 25px;">
      <textarea oninput="this.style.height = ''; this.style.height = this.scrollHeight +'px'" id="titleForm" type="text" formControlName="title" placeholder="Title"></textarea>
      <textarea oninput="this.style.height = ''; this.style.height = this.scrollHeight +'px'" id="descForm" type="text" formControlName="desc" placeholder="Description" maxlength="116"></textarea>
    </form>
    
    <ng-container *ngFor="let elem of contentArray">
      <app-link-form     [formValue]="elem.value" (focus)="changeFocus($event)" (value)="update($event)" [id]="elem.id" (remove)="remove($event)" *ngIf="elem.type == 'link'"></app-link-form>
      <app-quote-form    [formValue]="elem.value" (focus)="changeFocus($event)" (value)="update($event)" [id]="elem.id" (remove)="remove($event)" *ngIf="elem.type == 'quote'"></app-quote-form>
      <app-text-form     [formValue]="elem.value" (focus)="changeFocus($event)" (value)="update($event)" [id]="elem.id" (remove)="remove($event)" *ngIf="elem.type == 'text'"></app-text-form>
      <app-subtitle-form [formValue]="elem.value" (focus)="changeFocus($event)" (value)="update($event)" [id]="elem.id" (remove)="remove($event)" *ngIf="elem.type == 'subtitle'"></app-subtitle-form>
      <app-title-form    [formValue]="elem.value" (focus)="changeFocus($event)" (value)="update($event)" [id]="elem.id" (remove)="remove($event)" *ngIf="elem.type == 'title'"></app-title-form>
    </ng-container>
    <div style="display: flex; justify-content: center;">
      <!--
      <h4>+ </h4>-->
      <a type="button" (click)="addNew('title')" class="black-link">title</a>
      <a type="button" (click)="addNew('subtitle')" class="black-link">subtitle</a>
      <a type="button" (click)="addNew('text')" class="black-link">text</a>
      <a type="button" (click)="addNew('quote')" class="black-link">quote</a>
      <a type="button" (click)="addNew('link')" class="black-link">link</a>
    </div>
    <button class="btn btn-success save-hover" (click)="Save()">Save</button>
  </div>
</div>

