.comment-wrapper{
    -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border: 1px dashed grey;
    padding: 15px;
    margin-bottom: 15px;
    a{
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }

    p{
        margin-bottom: 0;
    }
}