body{
    min-width:576px;
}

#calc{
    height: 600px;
}

#screen{
    height: 100px;
}

#screen h3{
    color: deepskyblue;
    float: right;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px #0e01c0;
}

#keys button{
    height:75px;
    width: 23%;
}

#equals{
    height: 150px;
}

#bottom-keys-left{
    margin: 0px;
    padding:0;
    float: left;
    width: 71.5%;
}

#bottom-keys-left button{
    height: 75px;
    width: 30.7%;
}

#bottom-keys-right{
    margin: 0px;
    padding:0;
    float: right;
    width: 25%;
}

#bottom-keys-right button{
    height: 166px;
    width: 87%;
}

#key-zero{
    width: 65% !important;
}

#icon{
    height: 35px;
    filter: brightness(0) invert(1);
}


