<div style="display: flex; justify-content:center;">
  <div class="articles-container">
    <app-article-card *ngFor="let article of articles.slice(0, 10)" [article]="article"></app-article-card>
    <div class="btn-group" role="group" aria-label="First group">
      <button type="button" class="btn btn-outline-primary" (click)="prevPage()" [ngClass]="{'disabled' : currPage==1}">Previous</button>
      <button type="button" class="btn btn-outline-primary" (click)="nextPage()" [ngClass]="{'disabled' : !(articles.length > 10)}">Next</button>
    </div>
  </div>
</div>