.articles-container{
    width: 700px;
    max-width: 700px;  
    position: relative;

    .save-hover{
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }

    &:not(:hover){
        .save-hover{
            display: none;
        }
    }

    textarea{
        height: 53px;
        border: 0 ;
        padding: 0;
        font-size: 18px;
        width: 100%;
        resize: none;
        overflow-y: hidden;
    
        &:focus{
            outline: none;
            outline-style: none;
            border: 0;
            background-color: #fff;
        }
    }
}

.title-container{
    display: flex; 
    flex-direction: column; 
    border-bottom: 1px dashed lightgrey;
    margin-bottom: 45px;

    h1{
        font-size: 42px;
        border: 0;
    }
    
    p{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
        border: none;
    }

    .footer{
        border-top: 1px dashed lightgrey;
        margin-top: 4px;
        padding: 10px 0;
        a{
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}