<div style="display: flex; justify-content:center;">
  <div class="articles-container">
    <button *ngIf="myPost" class="btn btn-warning save-hover" (click)="Edit()">Edit</button>
    <div class="title-container">
      <h1>{{article?.title}}</h1>
      <p>{{article?.desc}}</p>
      <div class="footer">
        <small class="h6 text-muted lead">by: <a (click)="visitUser()">@{{article.owner.username ? article.owner.username : 'unknown'}}</a></small>
      </div>
    </div>
    <ng-container *ngFor="let elem of article?.content">
      <app-link-box     [value]="elem.value" *ngIf="elem.type == 'link'"></app-link-box>
      <app-quote-box    [value]="elem.value" *ngIf="elem.type == 'quote'"></app-quote-box>
      <app-text-box     [value]="elem.value" *ngIf="elem.type == 'text'"></app-text-box>
      <app-subtitle-box [value]="elem.value" *ngIf="elem.type == 'subtitle'"></app-subtitle-box>
      <app-title-box    [value]="elem.value" *ngIf="elem.type == 'title'"></app-title-box>
    </ng-container>
    <div class="comment-sectio" style="margin-top: 40px">
      <h4 class="display-4">Comments</h4>
      <textarea [formControl]="comment" (keydown.enter)="postComment($event)" oninput="this.style.height = ''; this.style.height = this.scrollHeight +'px'" id="textForm" type="text" placeholder="Write a comment" rows="1"></textarea>
      <app-comment-card *ngFor="let comment of article?.comments.reverse()" [comment]="comment"></app-comment-card>
    </div>
  </div>
</div>
