<div class="form-box form-box--subtitle">
  <textarea [formControl]="form" (focus)="emitFocus()" (keyup)="emitValue($event)" oninput="this.style.height = ''; this.style.height = this.scrollHeight +'px'" id="textForm" type="text" placeholder="Enter the subtitle" rows="1"></textarea>
  <button class="hover-button" (click)="delete(id)"></button>
</div>
