<div>
  <br/><br/><br/>
  <div class="card mx-auto p-0" style="width:45%;">
      <div class="bg-secondary p-2 text-white" style="width:100%;">
          <h1 class="display-4 ml-2">Login</h1>
      </div>
      <div class="card-body">
          <form>
              <div class="form-group">
                  <label for="email-input">Email adress</label>
                  <input type="email" id="email-input" class="form-control" placeholder="Enter email">
              </div>
          
              <div class="form-group">
                  <label for="password-input">Password</label>
                  <input type="password" id="password-input" class="form-control" placeholder="Enter password">
              </div>    
              <button class="btn btn-primary float-right">Submit</button>
          </form>
      </div>
  </div>
</div>

